/* src/components/Navbar.css */
.navbar { 
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    box-sizing: border-box; /* Include padding in the element's total width and height */ 
    position: fixed;
    z-index: 999;
    transition: background 0.3s ease; /* Smooth transition for background change */
}
  .navbar-top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(106, 170, 10);
    height: 50px;
  }
  .social-icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-icons i{
    background-color: #333;
    color: white;
    font-size: 15px;
    padding: 8px;
  }
  .search-bar{
    width: 30%;
    height: 50%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
  }
  .search-bar input{
    width: 90%;
    border: none;
  }
  .search-bar button{
    border: none;
    background-color: transparent;
    text-align: center;
    
  }
  .search-bar button i{
    font-size: 13px;
    font-weight: 600;
    margin-top: -3px;
  }
  .contact-info{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-info i{
    margin-right: 20px;
    font-size: 20px;
  }
  .navbar-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 70px;
  }
  
  .logo {
    height: 90%;
    margin-right: 10px;
    background-color: transparent;
    width: 20%;
    
  }
  
  .navbar-center {
    flex-grow: 1;
    width: 80%;
    padding: 0 20px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    position: relative;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }
  .navLinks-categories {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 95%;
    background-color: transparent;
    z-index: 10;
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5), rgba(2,0,36,0.5) 100%);
}
  .nav-links li:hover .navLinks-categories {
    display: flex;
  }
  .navLinks-categories-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 33%;
    margin-top: 15px;
    
  }
  .navLinks-categories-1 ul {
    padding: 0;
    margin: 0;
  }
  .navLinks-categories-1 ul li {
    width: 100%;
    padding: 2px 0px;
  }
  .navLinks-categories-1 ul li a{
    font-size: 16px;
    width: 100%;
  }
  .navLinks-categories-1 h5{
    color: white;
    font-size: 16px;
  }
  .navLinks-categories-1  hr{
    width: 92%;
    height: 0.5px;
    background-color: #fdfcfc;
  }
  .navbar.scrolled{
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5), rgba(2,0,36,0.5) 100%);
  }
  .cat-2{
    position: absolute;
    left: 21%;
    width: 50%;
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5), rgba(2,0,36,0.5) 100%);
  }
  .cat-3{
    position: absolute;
    width: 40%;
    left: 36%;
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(2,0,36,0.5), rgba(2,0,36,0.5) 100%);
  }
  
  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
    position: absolute;
    right: 0;
    display: none; /* Hidden by default */
  }
  
  
  .social-icons a {
    margin: 0 5px;
    color: #333;
  }
  .nav-links i{
    font-size: 15px;
    margin-left: 10px;
  }
  
  
  
  .contact-info span {
    margin-right: 10px;
  }
  
  .start-planning {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
  }
  
  .fab, .fas {
    font-size: 20px;
  }
  
 .bxs-right-arrow{
    display: none;
 }

/* carousel */
.carousel-container {
  width: 100%;
  height: 100vh;
}

/* footer */
/* Footer styles */
.footer {
  background-color: #00354d;
  color: white;
  padding: 40px 0;
  font-size: 14px;
  text-align: center;
  margin-top: 35px;
  width: 100%;
  height: 50vh;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo img {
  width: 150px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}


.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
.footer-socials{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.footer-socials a {
  color: white;
  font-size: 18px;
  width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: -30px;
  font-weight: 500;
}

.footer-socials a:hover {
  color: #4CAF50;
}

.footer-contact {
  margin-top: 20px;
}

.footer-contact span,
.footer-contact .email-link {
  display: block;
  margin: 10px 0;
}

.footer-contact .email-link {
  color: white;
  text-decoration: none;
}

.footer-contact .email-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  padding: 10px;
}

.footer-bottom p {
  margin: 0;
}



/* Mobile and Tablet */
@media (max-width: 768px) {
    .navbar-top {
      height: auto;
      padding: 10px;
    }
  
    .social-icons {
      width: 100%;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    .search-bar {
      display: none;
    }
  
    .contact-info {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    .navbar-bottom {
      align-items: center;
      margin-top: 10px;
      justify-content: space-between;
      position: relative;
    }
  
    .logo {
      width: 30%;
      margin: 10px 0;
    }
  
    .navbar-center {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      left: 0;
    }
  
    .nav-links {
      display: none;  /* Hide the menu by default on small screens */
      flex-direction: column;
      align-items: flex-start;
      width: 270px;
      padding: 0;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white; /* Optional: to give a background to the menu */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: to add shadow */
      z-index: 999; /* Ensure menu is above other content */
    }
  
    .nav-links.open {
      display: flex;  /* Make the menu visible when it's open */
      position: absolute;
      z-index: 999;
      left: 0;
      margin-top: 40px;
    }
  
    .nav-links li {
      margin: 5px 0;
    }
  
    .nav-links li a {
      color: #333;
      text-decoration: none;  /* Optional: Add this if you want to remove underline */
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }
    .navLinks-categories {
        display: none;
        position: absolute;
        top: 0;
        left: 280px;
        width: calc(100%-270px);
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;

    }
    .navLinks-categories-1{
        width: 100%;
      }
      .nav-links li:hover .navLinks-categories {
        display: flex;
        flex-direction: column;
      }
      .navLinks-categories-1 ul li {
        padding: 0px;
      }
  .navLinks-categories-1  hr{
    margin-top: -10px;
  }
    .bxs-down-arrow{
        display: none;
    }
    .bxs-right-arrow{
        display: flex;
        position: absolute;
        right: 20px;
     }
  
     .hamburger {
        background: none;
        border: none;
        font-size: 24px;
        display: block; /* Make hamburger icon visible for small screens */
        cursor: pointer;
        margin-left: 10px;
        position: absolute;
        right: 0;
      }
  
    .hamburger i {
      color: #333;

    }
  }
  @media (max-width: 430px){
    .navbar-top{
        height: 40px;
    }
    .social-icons {
        width: 40%;
        margin-left: 20px;
      }
      .social-icons a i{
        font-size: 10px;
        padding: 5px;
      }
      .contact-info{
        width: 40%;
      }
      .contact-info span{
        display: none;
      }
      .contact-info button{
        font-size: 12px;
      }
      .nav-links {
        width: 200px;
        
      }

      .nav-links li a{
        font-size: 13px;
      }
      .navLinks-categories {
        left: 205px;
        width: calc(100%-270px);
    }
    .navLinks-categories-1 ul li a{
        font-size: 12px;
        margin-top: -10px;
    }
  }
  @media (max-width: 375px){
    .navbar-top{
        height: 30px;
    }
    .social-icons {
        margin-left: 30px;
        margin-top: 10px;
      }
    
      .contact-info button{
        font-size: 10px;
        padding: 5px;
        margin-top: 10px;
      }
      .contact-info a{
        margin-top: 15px;
      }
      .nav-links{
        width: 170px;
      }
      .nav-links li a{
        font-size: 10px;
      }
      .navLinks-categories {
        left: 175px;
        width: calc(100%-175px);
    }
  }
  @media (max-width: 320px){
    .navbar-top{
        height: 25px;
    }
      .social-icons a {
        margin: 0 3px;
        color: #333;
      }
    
      .contact-info button{
        padding: 3px;
      }
      .nav-links{
        width: 150px;
      }
      .nav-links li a{
        padding:  5px;
      }
      .navLinks-categories {
        left: 150px;
        width: calc(100%-150px);
    }
  }
  