.newsletter-signup {
    width: 25%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  
  .newsletter-signup h2 {
    margin-bottom: 20px;
  }
  
  .newsletter-signup input {
    width: 100%;
    padding: 10px;
    margin: 40px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .newsletter-signup button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 2%;
    left: 35%;
  }
  
  .newsletter-signup button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 20px;
  }
  