body, html {
   margin: 0; 
   padding: 0; 
   width: 100%; 
   overflow-x: hidden;
   position: relative;
  }
  button{
    background-color: #ffc107;
    padding: 10px;
  }
  li{
    list-style: none;
  }


  /* home */
  .landing-page{
    width: 100%;
    height: 90vh;
  }
  .landing-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  /* responsiveness */
  @media (max-width: 768px) {
  }
  @media (max-width: 430px) {
    .landing-page{
      width: 100%;
      height: 50vh;
      position: relative;
    }
  }
  @media (max-width: 375px) {
    .landing-page{
      width: 100%;
      height: 80vh;
      position: relative;
    }
  }

 